appdirs==1.4.3
asn1crypto==0.24.0
astroid==2.2.5
attrs==19.1.0
cffi==1.12.3
Click==7.0
click-alias==0.1.1a3
click-hotoffthehamster==7.0.0a2
colorama==0.4.1
cryptography==2.7
importlib-resources==1.0.2
isort==4.3.21
lazy-object-proxy==1.4.1
mccabe==0.6.1
pycparser==2.19
pylint==2.3.1
pyrsistent==0.15.3
six==1.12.0
terminaltables==3.1.0
typed-ast==1.4.0
-e git+https://github.com/GerardBalaoro/VHoster@5451f087f7789c0d279dff83aa326e37ee856ea2#egg=VHoster
wrapt==1.11.2
